body { background: #2137f3; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 31px; display: flex; }
.block-metrics-0 { color: #626bf; font-size: 18px; margin-bottom: 5px; }
.block-config-1 { color: #a9e06; font-size: 18px; margin-bottom: 5px; }
.block-metrics-2 { color: #8e2636; font-size: 15px; margin-bottom: 5px; }
.block-cart-3 { color: #460436; font-size: 21px; margin-bottom: 5px; }
.block-logger-4 { color: #f6b411; font-size: 14px; margin-bottom: 5px; }
.block-config-5 { color: #508a87; font-size: 16px; margin-bottom: 5px; }